/***********************************************************
	CSS file of /
	Author: Dimitris Glezos
	
	Licenced under the terms found at:
		/website/terms/
		http://creativecommons.org/licenses/by-nc/1.0/
 ***********************************************************/
 
 
/***********************************************************
    Override original HTML tags */

body
{
	background: #7195b6 url("/theme/images/bgtile.png") top left repeat;
	color: #FFFFFF;
	text-align: center;
	font-family: Verdana, Trebuchet, Lucida, Arial, sans-serif;
	font-size: 62.5%;
	/* Resets 1em to 10px */
	margin: 0;
	padding: 0;
}

h1
{
	color: #86A6C2;
	margin-top: 1.6em;
	margin-bottom: 1.5em;
	font-size: 1.7em;
}

h2
{
	color: #5680A6;
	margin-top: 1.4em;
	margin-bottom: 1.2em;
	font-size: 1.4em;
}

h3
{
	color: #86A6C2;
	margin-top: 1.2em;
	font-size: 1.2em;
}

h4
{
	color: #333;
	font-weight: bold;
	margin-bottom: 0.2em;
	font-size: 1.1em;
}

code {
	background-color: #f0f0f0;
	color: #300;
	padding: 0 0.2em;
	font-family: Lucida Console, monospace;
}

pre {
	text-align: left;
}

.pre-norm {
	font-family: Verdana, Trebuchet, Lucida, Arial, sans-serif;
}

code.block, samp.block,
div.wp_syntax {
	border-left: 3px #e0e0e0 solid;
	background: url("/theme/images/code.png") top right no-repeat;
	margin-left: 10px;
	padding-left: 10px;
	white-space: pre;
	display: block;
}

acronym, abbr
{
	border: 0;
	border-bottom: 1px dotted #b96000;
 	cursor: help;
}

span[title] {
	border: 0;
	border-bottom: 1px dotted #b96000;
 	cursor: help;
}

ol li {
	list-style-type: decimal;
}

ul li
{
	padding-bottom: 0.2em;
	padding-left: 0.2em;
	list-style-image: url(/theme/images/list_dot.png);
}

ul li ul li
{
	padding-bottom: 0.2em;
	padding-left: 0.2em;
	list-style-image: url(/theme/images/list_dot_sec.png);
}

hr
{
	height: 0;
	border: 0;
	border-top: 2px dotted #CCC;
	margin: 2em 0 2em 0;
	padding: 0;
}

blockquote
{
	background: url("/theme/images/quotes.png") top left no-repeat;
	margin: 0;
	padding: 0 20px 0 33px;
	border-right: 2px #eee solid;
}

div.cite {
	display:block;
	text-align: right;
	font-size: 90%;
	color: #444;
}

div.cite cite {
	padding: 3px 20px 0 40px;
	border-top: 2px #eee solid;
}

img { border: 0; }

ins {
	color: #005500;
	text-decoration: none;
}

del {
	color: #cc8888;
	text-decoration: line-through;
}

/***********************************************************
    Custom ID-based tags */


#page
{
	background: #FFF;
	color: #000;
	border: 2px solid #5680A6;
	border-radius: 10px;
	width: 920px;
	margin: 50px auto 0 auto;
	padding: 0;
	text-align: left;
}

ul#logo
{
	position: relative;
	float: left;
	top: -33px;
	left: 50px;
	margin: 0;
	padding: 0
}

ul#logo li img {
	border: none;
	margin: 0;
	padding: 0;
}

li.dotcom
{
	position: relative;
	top: -13px;
	margin: 0 0 0 -5px;
	padding: 0;
	color: #5680A6;
	font-family: Verdana, Trebuchet, Lucida, Arial, sans-serif;
	font-size: 1.7em;
	font-weight: bold;
}

li.dotcom { color: #E77800; }

span#date
{
	float: right;
	color: #5680A6;
	margin: 10px 15px 0 0;
	/* margin: -60px 15px 5px 5px; */
	text-align: right;
	font-family: Verdana, Trebuchet, Lucida, Arial, sans-serif;
	font-size: 1.5em;
	font-weight: bold;
}

#month
{
	color: #86A6C2;
	font-size: 1.7em;
	font-weight: bold;
}

#sidebar
{
	float: left;
	width: 140px;
	margin: 0;
	padding: 60px 10px 0 20px;
	text-align: left;
	font-size: 1.2em;
	/* border: 1px solid red; */
}

#content
{
	float: right;
  clear: right;
	width: 660px;
	min-height: 550px;
	border: 0;
	margin: 0;
	padding: 10px 50px 55px 30px;
	text-align: justify;
	line-height: 1.55em;
	font-size: 1.2em;
}

#contentsimple
{
	text-align: justify;
	line-height: 1.55em;
	font-size: 1.2em;
	padding: 100px 50px 120px 50px;
}

#bodydown
{
	margin: -85px 0 0 0;
	padding: 0;
}

#pi
{
	float: right;
	margin: -1.7em 0.7em 0 0;
	padding: 0;
	font-size: 2.3em;
	font-family: "Times New Roman", times, serif;
}

#bottom
{
	color: #FFF;
	width: 910px;
	margin: 2px auto 30px auto;
	padding: 3px 10px 3px 10px;
	font-family: Verdana, Trebuchet, Lucida, Arial, sans-serif;
	font-size: 1.1em;
}

#sidebar-bottom
{
	width: 120px;
	padding: 0 0 15px 20px;
	text-align: center;
}

#sidebar ul
{
	margin: 0;
	padding: 0;
	line-height: 1.4em;
}

#sidebar ul li
{
	display: block;
	list-style: none;
	list-style-image: none;
}

#sidebar ul ul
{
	border: 0;
	border-left: 1px solid #DDD;
	margin-left: 9px;
	padding-left: 6px;
}

#sidebar ul ul li { list-style: none; }

/***********************************************************
	Custom classes */

.getfirefox
{
	display: block;
	background: url(/theme/images/getfirefox-gray.png) left no-repeat;
	width: 100px;
	height: 40px;
	padding: 0;
	margin: 0 0 10px 0;
}

.validhtml
{
	display: block;
	background: url(/theme/images/valid-xhtml-gray.png) no-repeat;
	width: 90px;
	height: 15px;
	margin: 0 0 0 2px;
	padding: 0;
}

.validcss
{
	display: block;
	background: url(/theme/images/valid-css-gray.png) no-repeat;
	width: 90px;
	height: 15px;
	margin: 0 0 0 2px;
	padding: 0;
}

.floatright
{
	float: right;
	margin-left: 15px;
	margin-bottom: 5px;
}

.floatleft
{
	float: left;
	margin-right: 15px;
	margin-bottom: 5px;
}

.alcenter { text-align: center; }
.alleft { text-align: left; }
.alright { text-align: right; }

.aligncenter { margin-left: auto; margin-right: auto; }

.note
{
	line-height: 1.4em;
	font-size: 0.9em;
	color: #333;
}

hr.class2hr
{
	border: 0;
	border-top: 1px dashed #CCC;
}

pre.normalface { font-family: Verdana, Trebuchet, Lucida, Arial, sans-serif; }

pre.smallface
{
	line-height: 1.1em;
	font-size: 0.9em;
}

div.clearer
{
	height: 0px;
	line-height: 0px;
	clear: both;
}

div.article
{
	color: #333;
	line-height: 140%;
	font-family: Georgia, "Bitstream Vera Serif", Utopia, "Times New Roman", times, serif;
}

.table-tr-dotted
{
	padding: 3px 10px 3px 10px;
	vertical-align: top;
	text-align: left;
}

table.tr-dotted
{
	vertical-align: top;
	border: 0;
	border-top: 1px dashed #CCCCCC;
	text-align: left;
	font-size: 0.93em;
}

td.tr-dotted
{
	border: 0;
	border-bottom: 1px dashed #CCCCCC;
	padding: 0 5px 0 5px;
}

li.sidebar-active
{
	color: #5680A6;
	font-weight: bold;
}

ul.nobullet
{
	padding: 0;
	margin: 0;
}

ul.nobullet li
{
	list-style: none;
	list-style-image: none;
}

ul.simpleblockul,
ul.simpleblockul li
{
	margin: 0;
	padding: 0;
}

ul.simpleblockul li { display: block; }

ul.simpleinlineul,
ul.simpleinlineul li
{
	margin: 0;
	padding: 0;
	display: inline;
}

.updated {
	color: #999;
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	text-align: right;
	font-family: Verdana, Trebuchet, Lucida, Arial, sans-serif;
	font-size: 0.85em;
}

div.paragraph-calendar {
	float: left;
	color: #5680A6;
	margin: 0.4em 1.2em 0.2em 0.2em;
	padding: 0.2em 0.5em 0.8em 0.5em;
	border: 1px solid #eee;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	text-align: center;
	letter-spacing: 0.1em;
	font-size: 0.75em;
}
div.paragraph-calendar span.large {
	display: block;
	font-size: 2.4em;
	color: #86A6C2;
	margin-top: -1px;
	margin-bottom: 1px;
}

.hide { display: none; }


blockquote.flashquote {
  width: 13em;
  margin: 1em 0 1em 2em;
  display: inline;
  float: right;
  padding: 1em 0 1em 1em;
  font-size: 130%;
  font-style: italic;
  text-align: left;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  border-right: none;
}


/* ****** Images frames, etc ******* */

a img {
	padding: 3px;
	border: 1px solid #FFF;
}

a:hover img {
	padding: 3px;
	border: 1px solid #CCC;
}

.framed
{
	padding: 3px;
	border: 1px solid #CCC;
}

a.simlink:hover img.framed
{
	padding: 3px;
	border: 1px solid #86A6C2;
}

/* imagelink: "div a img" sequence with no underlines etc. */

.imagelink a,
.imagelink a:link,
.imagelink a:visited,
.imagelink a:active,
.imagelink a:hover
{
	border: 0;
	text-decoration: none;
}

.imagelink a img {
	padding: 3px;
	border: 1px solid #CCC;
}

.imagelink a:hover img
{
	padding: 3px;
	border: 1px solid #86A6C2;
}


/***********************************************************
    Links */

/* add link-out image to external links:

body a[href^='http:'] {
	padding-right:9px;
	background-image:url("/theme/images/link-out.gif");
	background-position:right top;
	background-repeat:no-repeat;
}*/

a,
a:link,
a:visited,
a:active
{
	color: #5680A6;
	border: 0;
	border-bottom: 1px solid #DDD;
	text-decoration: none;
}

a:hover
{
	color: #003366;
	border: 0;
	border-bottom: 1px solid #E77800;
	text-decoration: none;
}

li.dotcom a,
li.dotcom a:link,
li.dotcom a:visited,
li.dotcom a:active,
li.dotcom a:hover
{
	color: #5680A6;
	border: 0;
	border-bottom: none;
	text-decoration: none;
}

li.dotcomactive a,
li.dotcomactive a:link,
li.dotcomactive a:visited,
li.dotcomactive a:active,
li.dotcomactive a:hover
{
	color: #E77800;
}

a#webloglink
{
	display: block;
	background: 0;
	border: 0;
	border-bottom: 1px solid #E77800;
	border-top: 1px solid #E77800;
	margin: 60px 0 30px 0;
	width: 6em;
	padding: 2px 5px 2px 5px;
	text-align: center;
}

a#webloglink:hover { background: #EDF2F7; }

#sidebar ul a,
#sidebar ul a:link,
#sidebar ul a:visited,
#sidebar ul a:active
{
	border: 0;
	border-bottom: 1px solid #FFFFFF;
}

#sidebar ul a:hover
{
	border: 0;
	border-bottom: 1px solid #E77800;
}

a.getfirefox,
a.getfirefox:link,
a.getfirefox:visited,
a.getfirefox:active { border: 0; }

a.getfirefox:hover
{
	background: url(/theme/images/getfirefox.png) no-repeat;
	border: 0;
}

a.validcss,
a.validcss:link,
a.validcss:visited,
a.validcss:active { border: 0; }

a.validcss:hover
{
	background: url(/theme/images/valid-css.png) no-repeat;
	border: 0;
}

a.validhtml,
a.validhtml:link,
a.validhtml:visited,
a.validhtml:active { border: 0; }

a.validhtml:hover
{
	background: url(/theme/images/valid-xhtml.png) no-repeat;
	border: 0;
}

#bottom a,
#bottom a:link,
#bottom a:visited,
#bottom a:active
{
	color: #FFF;
	border: 0;
	border-bottom: 1px solid #CCC;
	text-decoration: none;
}

#bottom a:hover
{
	color: #FFF;
	border: 0;
	border-bottom: 1px solid #EEE;
	text-decoration: none;
}

a.simlink,
a.simlink:link,
a.simlink:visited,
a.simlink:active,
a.simlink:hover
{
	border: 0;
	text-decoration: none;
}

a#id,
a#id:link,
a#id:visited,
a#id:active,
a#id:hover
{
	border: 0;
	text-decoration: none;
}

#pi a,
#pi a:link,
#pi a:visited,
#pi a:active { border: 0; }
#pi a:hover { border: 0; }

div.dialogue dl,
dl.dialogue {
	background: url("/theme/images/quotes.png") top left no-repeat;
	margin: 1em 0 0 0;
	padding: 0 0 0 1em;
	border-right: 2px #eee solid;
	padding-right: 20px;
}
div.dialogue dl dt,
dl.dialogue dt {
	float: left;
	margin: 0 1em 0 0;
	width: 10em;
	text-align: right;
}

div.dialogue dl dt:after,
dl.dialogue dt:after {
	content: ":";
}

div.dialogue dl dd,
dl.dialogue dd {
	margin: 0 0 .5em 11.5em;
	padding: 0;
	vertical-align: top;
}

dl.simplebg {
	background: none;
	border-right: none;
}

/***********************************************************
	Markdown customizations */

table.markdown tr th,
table.markdown tr td {
	padding-right: 1em;
}


/***********************************************************
	CodeHighlight Classes */

div.codehl {
	border: 1px solid #C3CED9;
	text-align: left;
	padding: 0.5em 0.5em 0.5em 0;
	font-family: Verdana, Trebuchet, Lucida, Arial, sans-serif;
	font-size: 1em;
}

div.codehl div.filelink {
	margin: 1em 0 0.8em 0;
}

ol.hl-main {
	line-height: 1.5em;
	margin: 0;
	text-align: left;
	color: #999;
	font-family: "Lucida Console", monospace;
}

ol.hl-main li {
	background-color: #F9FBFC;
	border-bottom: 2px solid #fff;
	padding: 0 0.5em;
	white-space: normal;
}

.hl-default { color: Black; }
.hl-code { color: Gray; }
.hl-brackets { color: Olive; }
.hl-comment { color: #FF9900; }
.hl-quotes { color: #800000; }
.hl-string { color: #DD3333; }
.hl-identifier { color: Blue; }
.hl-builtin { color: Teal; }
.hl-reserved { color: Green; }
.hl-inlinedoc { color: Blue; }
.hl-var { color: #000080; }
.hl-url { color: Blue; }
.hl-special { color: Navy; }
.hl-number { color: Maroon; }
.hl-inlinetags { color: Blue; }
.hl-main { background-color: White; }
.hl-gutter { }



/***********************************************************
    Hacks

	The following break the CSS Validation, but do not
	affect the user experience.
*/

#page { -moz-border-radius: 15px; }
div.paragraph-calendar { -moz-border-radius: 5px; }
div.codehl { -moz-border-radius: 5px; }
ol.hl-main li { -moz-border-radius: 3px; }

