body {
    background: #86A6C2 url(../images/bggrad.gif) bottom left fixed repeat-x;
	margin:0px 0px 0px 0px;
	text-align:center;	
	}


A:link,
A:visited,
A:active {
	color: #5680A6;
	text-decoration: none;
	border-bottom: #DDD solid 1px;
	}
A:hover {
	color: #003366;
	text-decoration: none;
	border-bottom: #E77800 solid 1px;
	}

h1, h2, h3 {
	margin: 0px;
	padding: 0px;
}

#genborder {
		background-color: #FFFFFF;
		border: 2px solid #5680A6;
		width: 760px;
		padding-bottom: 10px;
		padding-left: 0px;
		margin-top: 50px;
		margin-right:auto;
		margin-left:auto;
		text-align: left;
}

#logo {
		width: 200px;
		position: relative;
		top: -33px;
		left: 30px;
		float: left;
}

#dotcom {
		position: relative;
		top: 9px;
		left: -11px;
		float: left;
		font-size: 1em;
		font-weight: bold;
		color: #E77800;
		font-family: verdana, arial, helvetica, sans-serif;
}

a.dotcom:link,
a.dotcom:visited,
a.dotcom:active		{ color:#5680A6; text-decoration: none; border-bottom: #FFFFFF solid 1px; }
a.dotcom:hover		{ color:#5680A6; text-decoration: none; border-bottom: #FFFFFF solid 1px;  }

a.wldotcom:link,
a.wldotcom:visited,
a.wldotcom:active		{ color:#E77800; text-decoration: none; border-bottom: #FFFFFF solid 1px; }
a.wldotcom:hover		{ color:#E77800; text-decoration: none; border-bottom: #FFFFFF solid 1px;  }

a.simlink:link,
a.simlink:visited,
a.simlink:active	{ text-decoration: none; border-bottom: #FFFFFF solid 1px;  }
a.simlink:hover		{ text-decoration: none; border-bottom: #FFFFFF solid 1px;  }

.sectiontitle		{
		border-bottom: #DDD 1px solid;
		padding-bottom: 15px;
		margin-bottom: 30px;
		}

div.clearer {clear: both; line-height: 0; height: 0;}


.niceH1	{ 
	font-family: Georgia, times new roman, serif; 
	font-size: large; color: #5680A6; font-weight:bold; }
.niceH2	{ 
	font-family: Georgia, times new roman, serif; 
	font-size: medium; color: #86A6C2; font-weight:bold;
	}
.niceH3	{ 
	font-family: Georgia, times new roman, serif; 
	font-size: medium; color: #666; font-weight:bold;
	margin-top: 20px; margin-bottom: 10px;
	}
acronym {		border-bottom: 1px dashed #E77800; }
.floatright {	float: right; margin-left: 15px; margin-top: 20px; }
.floatleft {	float: left; margin-right: 15px; margin-top: 20px; }

/* in archive_entry, comment boxes */

.comment-inputs {
		width:220px;
		float:left;
		text-align:right;
		}

.comment-rules {
		border-left:1px dotted #bbb;
		margin-left:235px;
		padding-left:15px;
		text-align:justify;
		}


#banner {
		font-family: Georgia, verdana, arial, sans-serif;
		color:#333;
		font-size:x-large;
		font-weight:normal;	
  		padding: 15px 20px 15px  15px;
		margin:0px 0px 5px 0px;
		text-align:right;
		line-height: 100%;
		}

#banner a,
        #banner a:link,
        #banner a:visited,
        #banner a:active,
        #banner a:hover {
		font-family: Georgia, verdana, arial, sans-serif;
		font-size: x-large;
		color: #5680A6;
		text-decoration: none;
		border-bottom: none;
		}

.description {
		font-family: Georgia, times new roman, serif;
		color:#333;
		font-size:small;
  		text-transform:none;
		}

#links {
		padding: 0px 15px 15px 15px;
		margin-top: 0px;
		width: 170px;
		float: left;
		}
	
#content {
		background:#FFF;
		margin: 0px 5px 0px 195px;
		padding-right: 15px;
		}

	.container {
		background:#FFF;
		}
	
	#pagepad {
		padding-bottom: 30px;
		padding-left: 70px;
		padding-right: 70px;
		}

	input.newborder {
		border: #AAA 1px solid;
		margin-bottom: 1px;
	}
	textarea.newborder {
		border: #AAA 1px solid;
	}

		
	.noteleft {
		font-family: Georgia, verdana, arial, sans-serif;
		color:#333;
		font-size:small;
		font-weight:normal;
		text-align:left;
		}
	.noteright {
		font-family: Georgia, verdana, arial, sans-serif;
		color:#333;
		font-size:small;
		font-weight:normal;
		text-align:right;
		}
	.notesmall {
		font-size: 0.85em;
		}

	.graytext {
		color:#888;
		}
	
	.devider {
		border-top: 1px dotted #BBB;
		clear: both;
		margin: 40px 0px 20px 0px;
	}

	li { list-style-image: url(/weblog/images/list_dot.gif); padding-bottom: 3px; }
	.lisec li { list-style-image: url(/weblog/images/list_dot_sec.gif); padding-bottom: 3px; }
	
	
	.blog {
  		padding:15px;
		background:#FFF;
		}

	.blogbody {
		font-family: Georgia, verdana, arial, sans-serif;
		color:#333;
		font-size:small;
		font-weight:normal;
  		background:#FFF;
  		line-height:140%;
		text-align:justify;
		padding-top: 5px;
		}

	.blogbody a,
	.blogbody a:link,
	.blogbody a:visited,
	.blogbody a:active,
	.blogbody a:hover {
		font-weight: normal;
		text-decoration: none;
	}

	.title	{
		font-family: Georgia, times new roman, serif;
		font-size: medium;
		color: #666;
		}			

	.updated {
		color: #999;
		font-style: italic;
		}			

	#menu {
  		margin-bottom:15px;
		background:#FFF;
		text-align:center;
		}		

	.date	{ 
		font-family: Georgia, times new roman, serif; 
		font-size: large; 
		color: #86A6C2; 
		margin-bottom:10px;
		font-weight:bold;
		text-align:right;
		}
		
	.posted	{ 
		font-family:verdana, arial, sans-serif; 
		font-size: x-small; 
		color: #999;
		margin-bottom:15px;
		margin-top:0px;
		text-align:right;
		line-height: 140%;
		padding-bottom: 20px;
		border-bottom: 1px dotted #DDD;
		}

	.posted a { color: #999999; text-decoration:underline; }
	.posted a:link  { color: #999999; }
	.posted a:visited  { color: #999999; }
	.posted a:active  { color: #999999; }
	.posted a:hover  { color: #003366; border-bottom: #E77800 solid 1px; }


	.calendar {
		font-family:verdana, arial, sans-serif;
		color:#666;
		font-size:x-small;
		font-weight:normal;
  		line-height:120%;
  		padding:1px;
        text-align:left;
		}
	.calendar a, 
	.calendar a:visited,
	.calendar a:active { color: #5680A6; text-decoration: underline; }
	.calendar a:hover { color: #003366; text-decoration: underline; }
		

	.calendar-today {	
		border: 1px solid #CCC;
	}
	
	.side {
		font-family:verdana, arial, sans-serif;
		color:#333;
		font-size:x-small;
		font-weight:normal;
  		background:#FFF;
  		line-height:140%;
  		padding:2px;				
		}

		
	.sidetitle {
		font-family: Georgia, times new roman, serif;
		color:#666600;
		font-size:small;
		font-weight:normal;
  		padding:2px;
  		margin-top:30px;
		letter-spacing: .3em;
  		background:#FFF;
  		text-transform:uppercase;		
		}		
	
	.syndicate {
		font-family:verdana, arial, sans-serif;
		font-size:xx-small;		
  		line-height:140%;
  		padding:2px;
  		margin-top:15px;
  		background:#FFF;  		
 		}	
		
	.powered {
		font-family: Georgia, times new roman, serif;
		color:#666;
		font-size:x-small;		
		line-height:140%;
		text-transform:uppercase; 
		padding:2px;
		margin-top:50px;
		letter-spacing: .2em;					
  		background:#FFF;		
		}	
		
	
	.comments-body {
		font-family: Georgia, verdana, arial, sans-serif;
		color:#666;
		font-size:small;
		font-weight:normal;
  		background:#FFF;
  		line-height:140%;
 		padding-bottom:10px;
  		padding-top:10px;		
 		border-bottom:1px solid #EEE;
		text-align:justify;
		}		

	.comments-post {
		font-family:verdana, arial, sans-serif;
		color:#999;
		font-size:x-small;
		font-weight:normal;
  		background:#FFF;
		text-align:left;
		line-height: 120%;
		}	
			
	.comment-numbering {
		float: right;
		color: #DDD;
		padding-bottom: 15px;
		}

	.trackback-url {
		font-family: Georgia, verdana, arial, sans-serif;
		color:#666;
		font-size:small;
		font-weight:normal;
  		background:#FFF;
  		line-height:140%;
 		padding:5px;		
 		border:1px dotted #999; 					
		}


	.trackback-body {
		font-family: Georgia, verdana, arial, sans-serif;
		color:#666;
		font-size:small;
		font-weight:normal;
  		background:#FFF;
  		line-height:140%;
 		padding-bottom:10px;
  		padding-top:10px;		
 		border-bottom:1px dotted #BBB; 					
		}		

	.trackback-post {
		font-family:verdana, arial, sans-serif;
		color:#666;
		font-size:x-small;
		font-weight:normal;
  		background:#FFF;		
		}	

		
	.comments-head	{ 
		font-family: Georgia, verdana, arial, sans-serif; 
		font-size:medium; 
		color: #666; 
		margin-top:20px;
		font-weight:bold;
  		background:#FFF;		
		}		

	#banner-commentspop {
		font-family: Georgia, verdana, arial, sans-serif;
		color:#FFF;
		font-size:large;
		font-weight:bold;
		border-left:1px solid #FFF;	
		border-right:1px solid #FFF;  		
		border-top:1px solid #FFF;  		
  		background:#003366;
  		padding-left:15px;
  		padding-right:15px;
  		padding-top:5px;
  		padding-bottom:5px;  		  		  			 
		}

	#bottom {
		font-family: verdana, arial, sans-serif;
		text-align: left;
		width: 740px;
		padding: 5px 10px 5px 10px;
		margin-right:auto;
		margin-left:auto;
		color: #FFF;
		font-size: 0.7em;
	}
	#bottom-left {
		text-align: left;
		width: 48%;
		float: left;
	}
	#bottom-right {
		text-align: right;
		width: 48%;
		float: right;
	}

	a.bottom-text:link,
	a.bottom-text:visited,
	a.bottom-text:active	{ color: #FFF; border-bottom: #BBB solid 1px; text-decoration: none; }
	a.bottom-text:hover		{ color: #FFF; border-bottom: #FFF solid 1px; text-decoration: none; }

	.quotetext {
		padding-left: 20px;
		border-left: #DDD 3px solid;
	}